table{
	width: 75%;
	height: 100px;
	border: 2px;
	border-color: red;
	text-align: center;
	background-color: #F8FBFF;
}
td{
	width: 250px;
	text-align: center;
	

}

.chudam:hover{
	color: red;
}
.chudam{
 font-weight: bold;
}
#chuxanh{
	color: #00FFFF;
}
#chuxanh:hover{
	color: red;
}
.chunho:hover{
  color: blue;
	
}