*{
	padding: 0;
	margin: 0;
}
body{
	font-size: 20px;
	overflow-x: hidden;
	overflow-x: hidden;
}
ul{
	list-style-type: none;
}
a{
	color: #333;
	text-decoration: none;
}
.container{
	width: 1170px;
	margin: 0 auto;
	overflow: hidden
}
header{
	overflow: hidden;
	padding-top: 20px;
	padding-left: 30px;
	margin-bottom: 20px;
}

#head-left{
	float: left;
	width: 30%;

}
#head-left h1{
	text-align: center;
	overflow: hidden;
	margin-top: 10px;
}
.icn{
	display: none;
}
#head-left span{
	color: #FFB732;
}
#head-right{
	float: right;
	width: 70%;
	text-align: center;
}
#head-right ul{
	margin-top: 20px;
	list-style-type: none;
}
#head-right ul li{
	display: inline-block;
	margin-right: 50px;
}
#head-right a:hover{
	color: #FFB732;
}
.item{
	color: #FFB732;
}
.slider img{
	width: 100%;
	height: 500px;
}

.content{
	padding: 30px;
	text-align: center;
	overflow: hidden;
}
.content-child{
	padding-top: 30px;
	width: 25%;
	float: left;
	margin-top: 50px;
}
.content-child span{
	font-size: 40px;
	border-radius: 50%;
	color: #fff;
	background: #FFB732;
	padding: 20px;
}
.content-child span i {
	width: 45px;
	height: 40px;
}
.content-child h3{
	margin-top:5em;
}
#pageBody{
	width: 100%;
	padding-top: 30px;
	text-align: center;
	overflow: hidden;
}
.pageBody-left{
	float: left;
	width: 48%;
	margin-top: 30px;
}
.pageBody-right{
	float: right;
	width: 48%;
	margin-top: 30px;
}
#pageBody img{
	width: 100%;
	height: 400px;
}
#option{
	overflow: hidden;
	padding-bottom:30px;
	text-align: center;
	padding-top: 30px;
}
.option-child{
	width: 33%;
	float: left;
	padding: 10px 0;
}
.item-left{
	width: 30%;
	float: left ;
}
.item-right{
	width: 70%;
	float: right;
}
.option-child span{
	font-size: 40px;
	border-radius: 50%;
	color: #fff;
	background: #FFB732;
	padding: 20px;
	position: relative;
	top: 15px;
}
.option-child span i{
	height: 40px;
	width: 45px;
}
/* .item-right h3{
	float: left;
	} */
	#count{
		padding-top: 2rem;
		overflow: hidden;
		width: 100%;
		background: #FE9920;
		text-align: center;
		color: #fff;
	}
	.count-up{
		margin-bottom: 30px;
	}
	.count-down{
		padding-bottom: 30px;
	}
	.count-down button{
		margin-bottom: 10px;
		width: 30%;
		border: 1px solid #fff;
		margin: 0px;
		padding: 10px;
		border-radius: 10px;
		background: #fff;
		outline: 0;
		font-size: 20px;
		cursor: pointer;
	}

	#menu{
		width: 100%;
		overflow: hidden;
		padding-top: 2rem;
	}
	.menu-up{
		padding: 30px;
		text-align: center;
		overflow: hidden;
	}
	.menu-child{
		padding-top: 30px;
		width: 25%;
		float: left;
		margin-top: 50px;
	}
	.menu-child img{
		border-radius: 20px;
		margin-bottom: 1.5rem;
	}
	#footer{
		width: 100%;
		padding-top: 2rem;
		overflow: hidden;
		color: #fff;
	}
	#footer a:hover{
		color: #FE9920;
	}
	.footer-top{
		overflow: hidden;
		padding: 30px;
	}
	.top-left{
		width: 30%;
		float: left;
		padding-right: 35px;
	}

	#footer{
		background: #4c4c4c;
	}
	.icon li{
		display: inline-block;
		margin: 20px;
		padding: 5px;
	}
	.icon li a{
		color: #fff;
		border: 1px solid #fff;
		border-radius: 50%; 
		position: absolute;
		padding: 10px;
		background:#333 ;
	}
	.icon i{
		width: 20px;
		height: 17.5px;
	}
	.post li{
		border-bottom: 1px solid #fff;
		margin-bottom: 15px;
		margin-top: 15px;
		line-height:50px;
	}
	.post li:last-child{
		border-bottom: none;
	}
	.post li a{
		color: #fff;
		font-size: 14px;

	}
	.info li {
		border-bottom: 1px solid #fff;
		line-height: 80px;
	}
	.info li:last-child{
		border-bottom: none;
	}
	.info li a{
		color: #fff;
		font-size: 14px;
	}
	.info i{
		padding: 10px;
		width: 2%;
	}
	.footer-botton{
		width: 100%;
		overflow: hidden;
		background: #333;
		color: #fff;
		padding-bottom: 1rem;
		padding-top: 1rem;
		font-size: 14px
	}
	.menu-footer{
		float: right;
	}
	.menu-footer li{
		display: inline-block;
		margin-right: 10px;

	}
	.menu-footer li a{
		font-size: 14px;
		color: #fff;
		margin: 10px ;
	}
	.copy-right{
		float: left;
	}
	.icon{display: none;}

	/* @media screen and (max-width: 768px) {
		.topnav ul:not(:first-child) {display: none;}
		.topnav li.icon {
			float: right;
			display: block;
		}
	}

	@media screen and (max-width: 768px) {
		.topnav.responsive {position: relative;}
		.topnav.responsive .icon {
			position: absolute;
			right: 0;
			top: 0;
		}
		.topnav.responsive li {
			float: none;
			display: block;
			text-align: left;
		}
		} */

		@media  (max-width: 768px) {
			.container{
				width: 100%;
			}
			#pageBody img {
				width: 100%;
				height: auto;
			}
			.pageBody-left{
				width: 100%;
			}
			.pageBody-right{
				width: 100%;
			}
			.option-child{
				width: 100%;
				overflow: hidden;
				padding: 15px;
			}
			.item-right{
				text-align: left;
			}
			.menu-child{
				width: 100%;
			}
			.top-left{
				width: 100%;
				float: left;
				margin-top: 10px;
			}
		}
		@media (max-width: 480px) {
			.container{
				width: 100%;
			}
			.content-child {
				padding-top: 30px;
				width: 100%;
				float: left;
				margin-top: 50px;
			}
			#option{padding-right:17px;}
			.option-child{
				width: 100%;
				margin-top: 10px;
				padding: 10px;

			}
			.count-down button {
				width: 40%;
				font-size: 14px;
			}
			.menu-up{
				padding-left: 0;
			}
			.copy-right {
				float: left;
				width: 100%;
				text-align: center;
			}
			.menu-footer {
				float: right;
				width: 100%;
				margin-top: 10px;
			}
			.bx-viewport, .slider img{
				height: 300px !important;
			}

		}


		@media (max-width: 768px) {
			#head-left {
				float: left;
				width: 100%;
			}
			#head-left h1 {
				text-align: left;
				margin-top: 10px;
			}
			#head-right {
				width: 100%;
				float: right;
			}
			#head-right ul {
				margin-top: 20px;
				display: none;
			}
			.icn{
				display: block;
				float: right;
				position: absolute;
				top: 0;
				right: 0;
				padding: 40px;
				font-size: 35px;
				color: #FFB732;
			}

		}