
* {
	margin: 0;
	padding: 0;
}


body {
	font-size: 14px;
	font-family: sans-serif;
	color: #333;
}
.hdr{
	width: 100%;
	background:#78b43d ;
	padding: 5px;
}
.header-top{
	width: 1156px;
	margin: 0 auto;
}
.logo {
	float: left;
}
.logo img{
	padding-top: 5px;
}
.search{
    padding: 10px;
    position: absolute;
    border: 1px solid;
    border-radius: 50%;
    padding: 5px;
    width: 30px;
    top: 5px;
    right: 8%;
    color: #fff;
    height: 30px;
}
.fa-search{

	width: 30px;
	height: 30px;
	color: #fff;
	border: 1px ;
	
}
.icon{
	padding: 7px;
    top: 3px;
    position: absolute;
    left: 5px;
    font-size: 20px;
}
/*==Style cho menu===*/
#menu ul {
	background: #78b43d;
	list-style-type: none;
	text-align: center;


}
#menu ul li {
	color: #f1f1f1;
	display: inline-block;
	line-height: 40px;
}
#menu a {
	text-decoration: none;
	color: #fff;
	display: block;
	padding: 1px 5px;
	border-left: 1px solid;
}
#menu a:hover {
	color: #333;
	text-decoration: underline;
	color: inherit;
}

/*==Dropdown Menu==*/
.sub-menu,.sub-menu ul {
	width: 150px;
	display: none;
	position: absolute;
	top: 110%;
}
#menu li {

	position: relative;
}
#menu li:hover .sub-menu {
	display: block;
}
.sub-menu li {

	margin-left: 0 !important;
	width: 100%;
	text-align: left;
	border-bottom:  1px solid green;

}

.sub-menu li a{
	border: 0 !important;
	font-size: 13px;
	line-height: 3;

}
.sub-menu li a:hover{
	text-decoration: none !important;
	margin: 0;
	background: green;
}
#first-sub{
	right: 0%;

}
.sub-menu li:hover ul{
	display:block ;	
	left:  100%;
	top: 0;

}
