button{
	border-radius: 30px;
	outline: none;
	cursor: pointer;
	padding: 10px;
	border: 1px solid #fff;
	width: 100%;
	font-size: 30px;
	background: #444;
	color: #fff;
}
button:hover{
	background: #FE9920;
}